@model IEnumerable<Grand.Core.Domain.MakerEntity.Maker>
@{

    var makerList = @ViewBag.makerList;
}

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.mobile.min.css" />

<script src="https://kendo.cdn.telerik.com/2020.1.114/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>

<style>
    .active-pink-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-pink-3 input[type=text] {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-purple-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-purple-3 input[type=text] {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-cyan-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-cyan-3 input[type=text] {
        border: 1px solid #4dd0e1;
        box-shadow: 0 0 0 1px #4dd0e1;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("input[name=btnCancel]").click(function () {
            if ($(this).val() == "+") {
                $("#makermodel").show();
            } else {
                $("#makermodel").hide();
            }
        });
    });
</script>
<div class="row" id="SearchSection">
    <div class="col-md-12">
        @*<div class="x_panel light form-fit">*@
        <div class="x_title">
            <div class="caption" style="color:#0E5679;font-weight:900">
                <i class="fa fa-cubes" style="color:#0E5679"></i>
                MODEL
            </div>
            <div class="actions btn-group btn-group-devided">
                <vc:admin-widget widget-zone="vendor_list_buttons" additional-data="null" />
                <input type="button" value="+" name="btnCancel" class="fa fa-plus" style="font-size:22px;color:white;border:none;background-color:#0E5679;font-weight:bold;width:25px;height:30px;" />

                <a href="#" class="btn btn-success"><i class="fa fa-pencil-square-o"></i><span class="hidden-xs"> </span></a>

                <a href="#sign_up" class="btn btn-danger"><i class="fa fa-trash"></i><span class="hidden-lg"> </span></a>

            </div>

        </div>

        <div class="x_content">
            <div id="vessel-grid"></div>
        </div>
        @*</div>*@
    </div>
</div>
@*<form action="AddModelDetails" method="get">*@

<table class="table">

    <tr id="makermodel" style="display: none">
        <td style="border:none;">
            <select class="form-control show-tick" name="Maker" id="textInputmaker11"
                    style="float:left;width:23%;color:#0E5679;border-color:#0E5679;">
                @foreach (var item in makerList)
                {

                    <option value='@item.Name'>@item.Name</option>


                }

            </select>




            <input type="text" class="form-control" id="textInputModel1" placeholder="Model"
                   name="Model" style="margin-left:22px;float:left;width:20%;height:auto;color:#0E5679;border-color:#0E5679;" />


            <div style="float:left;max-width:50%;position:relative;left:-2px;">

                <input type="text" class="form-control"
                       id="txtModelRemark" placeholder="Remark" name="Remark" style="margin-left:22px;height:auto;color:#0E5679;border-color:#0E5679;" />
            </div>

            @Html.AntiForgeryToken()
            <input type="submit" onclick="AddModelDetails()"
                   class="fa fa-save" id="bu" value="&#xf0c7;" style="margin-left:6%;font-size:23px;color:#0E5679;background:white;border:white">
            <input type="button" value="X" name="btnCancel" style="color:red;font-size:23px;border:none;background-color:white;" />

        </td>

    </tr>
    <tr>
        <td style="border:none;">
            <div class="row" id="SearchSection">
                <div class="form-body col-md-6 advanced-filter">
                    <div class="form-group">
                        <input id="SearchMakerModel" type="text" placeholder="Search.." class="form-control" style="max-width:212px;max-height:16px;color:#0E5679;border-width:1px;border-color:#0E5679;">
                    </div>
                </div>
                <div class="x_content">
                    <div id="MakerModelGrid"></div>
                </div>
            </div>
        </td>
    </tr>




</table>

@*</form>*@
<div id="example">
    <antiforgery-token />

    <script>
        function LoadMakerModelGrid() {
             $("#MakerModelGrid").kendoGrid({
                dataSource: {

                    transport: {

                         read:
                             {
                                url: "@Html.Raw(Url.Action("ReadMakerModelDetails", "Mdm","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                        },
                        @*update:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","PostponeJob","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                            },
                            create:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","PostponeJob","Maintenance"))",
                                type: "POST",
                                dataType: "json"
                            }*@
                    },
                    batch: true,
                    schema:
                    {
                               data: "Data",
                               total: "Total",
                               errors: "Errors",
                        model:
                        {
                            id : "Id",
                            fields:
                            {
                                Id:
                                {
                                    validation: { required: true },
                                    editable: false,
                                },

                            }
                        }
                    },
                    pageSize: 30
                },
                height: 470,
                sortable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                pageable: false,
                selectable: true,
                allowCopy: true,
                 columns: [
                    {
                                            field: "Id",
                                            headerTemplate: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox mt-NoMargin'><input id='mastercheckbox' type='checkbox'/><div class='control__indicator control__indicator_custom mt-top2 rtlabel'></div></label>",
                                            template: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox mt-NoMargin'><input type='checkbox' value='#=Id#' class='checkboxGroups chk'/><div class='control__indicator control__indicator_custom mt-top2'></div></label>",
                                        width: 50,
                                            locked: true,
                                        lockable: false,

                                        },
                    {
                            field: "Maker",
                            title: "Maker",
                            width: "250px"
                        },

                        {
                            field: "Model",
                            title: "Model",
                            width: "100px"
                        },
                        {
                            field: "Remark",
                            title: "Remark",
                            width: "250px"
                        }
                        ],
                    editable: "inline"

            });
        }

        $(function () {
            LoadMakerModelGrid();
            //$("#tabMakerModel").click(function () {
            //        $("#MakerModelGrid").empty();
            //     LoadMakerModelGrid();
            //});
        });
         function customBoolEditor(container, options) {
                        var guid = kendo.guid();
                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
                    }

                    function additionalData() {
                        var data = {};
                        addAntiForgeryToken(data);
                        return data;
        }
         $('a[href="#sign_up"]').click(function () {



            //var postData = {selectedIds: selectedIds};
            //addAntiForgeryToken(postData);

            // Look for all checkboxes that have a specific class and was checked
            var chkArray = [];
            $(".chk:checked").each(function ()
            {
                chkArray.push($(this).val());
            });

            // calling  via jquery
            $.get("http://localhost:16582/Maintenance/Mdm/DeleteSelectedMakerModel?selectedIds='" + chkArray + "'");
            window.location.reload();
            return false;
       });

        function AddModelDetails () {

         //   alert("maker" + $("#textInputmaker11 option:selected").text());
            var Model = $("#textInputModel1").val();
            var Remark = $("#txtModelRemark").val();
            var Maker=$("#textInputmaker11 option:selected").text();
            var SearchName = $("#textSearchModel").val();
          //  alert(`Model=${Model} Remark=${Remark} Maker=${Maker}`);
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("AddModelDetail")" + "?Maker=" + Maker + "&Model="+ Model + "&Remark=" + Remark + "&SerachName=" + SearchName
                            ,
                            data: "{}",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (datas) {
                               // alert("Success");
                               $("#textInputModel1").val("");
                                $("#txtModelRemark").val("");;
                                $("#textInputMaker").val("");

                                $("#MakerModelGrid").empty();
                                LoadMakerModelGrid();

                            }

                        });

        }
    </script>
    
</div>






