@model ViewModel
@*@model IEnumerable<ViewModel>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
<script>
    function goBack() {
        window.history.back();
    }
</script>
@*test*@
<form action="AddCBMMapping" method="get">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">


            <div class="header">

                <h2>
                    <a onclick="goBack()" class="fa fa-arrow-circle-left"></a>
                    CBM To Equipment Components
                </h2>

            </div>
            <br>
            <div class="body">
                <div class="row clearfix">
                    <!-- Color Variations -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="card" style="min-height:440px;">
                            <div class="header">
                                <h2>
                                    Select Equipment Components
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another action</a></li>
                                            <li><a href="javascript:void(0);">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <ul class="list-group">
                                    <select class="form-control show-tick" name="equipmentComponent">
                                        <option name="slect">Select</option>
                                        @foreach (var item in Model.equipmentTypeList)
                                        {

                                            <option value=@item.Equipment_type id="@item.Id" name=@item.Equipment_type>@item.Equipment_type</option>


                                        }
                                    </select>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- #END# Color Variations -->
                    <!-- Circle -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="card" style="min-height:440px;">
                            <div class="header">
                                <h2>
                                    Select CBM
                                </h2>
                                <ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another action</a></li>
                                            <li><a href="javascript:void(0);">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body" style="overflow: auto; max-height:380px;">
                                <ul class="list-group">

                                    @foreach (var item2 in Model.cbmList)
                                    {

                                        <li class="list-group-item clearfix">
                                            @item2.Cbm_Name
                                            <div class="pull-right">
                                                <input type="checkbox" id="@item2.Id" class="filled-in" name="Cbm_Name1" value="@item2.Cbm_Name" />

                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="Cbm_Name" name="Cbm_Name" value="s" />
                    @*<script>
                        var text = [];
                        $.each($("input[name='Cbm_Name']:checked"), function () {
                            text.push($(this).val());
                        });
                        window.selectedId = text;
                        
                        //$("input[name='Cbm_Name[]']:checked").each(function () {
                        //    text.push($(this).val());
                        //    window.selectedId = text;
                        //});
                    </script>*@
                    <!-- #END# Circle -->
                </div>
                <input type="submit" onclick='printChecked()' id="getValues" class="btn btn-success" value="Submit" />
                @*<a href="@Url.Action("AddMaker")" class="btn btn-success"><i class="fa fa-plus"></i><span class="hidden-xs"> Submit </span></a>*@
                <a href="@Url.Action("AddCBM")" class="btn btn-danger"><i class="fa fa-trash"></i><span class="hidden-xs"> Cancel </span></a>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    function printChecked() {
        var items = document.getElementsByName('Cbm_Name1');
        var selectedItems = "";
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox' && items[i].checked == true)
                selectedItems += items[i].value + " ,";
        }
        //var selectedItemsPass = selectedItems.split(',');
        alert(selectedItems);
        document.getElementById("Cbm_Name").value = selectedItems;
    }
</script>
