@model EquipmentTypeListModel

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.mobile.min.css" />

<script src="https://kendo.cdn.telerik.com/2020.1.114/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("input[name=btnCancel]").click(function () {
            if ($(this).val() == "+") {
                $("#equipmenttype").show();
            } else {
                $("#equipmenttype").hide();
            }
        });
    });
</script>
<script type="text/javascript">
    function onButtonClick() {
        document.getElementById('textInput') = "show";
        document.getElementById('bu') = "show";
    }
</script>
<style>
    .red {
        color: darkblue;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .active-pink-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-pink-3 input[type=text] {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-purple-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-purple-3 input[type=text] {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-cyan-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #0E5679;
        box-shadow: 0 0 0 1px #0E5679;
    }

    .active-cyan-3 input[type=text] {
        border: 1px solid #4dd0e1;
        box-shadow: 0 0 0 1px #4dd0e1;
    }
</style>
<div class="row" id="SearchSection">
    <div class="col-md-12">
        @*<div class="x_panel light form-fit">*@
        <div class="x_title">
            <div class="caption" style="        color: #0E5679;
        font-weight: 900">
                <i class="fa fa-cubes" style="color:#0E5679"></i>
                EQUIPMENT TYPE
            </div>
            <div class="actions btn-group btn-group-devided">
                <vc:admin-widget widget-zone="vendor_list_buttons" additional-data="null" />
                <input type="button" value="+" name="btnCancel" class="fa fa-plus" style="font-size:22px;color:white;border:none;background-color:#0E5679;font-weight:bold;width:25px;height:30px;" />

                <a href="#" class="btn btn-success"><i class="fa fa-pencil-square-o"></i><span class="hidden-xs"> </span></a>

                <a href="#sign_up" class="btn btn-danger"><i class="fa fa-trash"></i><span class="hidden-lg"> </span></a>
            </div>

        </div>

        <div class="x_content">
            <div id="vessel-grid"></div>
        </div>
        @*</div>*@
    </div>
</div>




@*<form action="AddEquipmentTypeDetails" method="post">*@




@*</form>*@


<div id="example">
    <antiforgery-token />
    <table class="table">

        <tr id="equipmenttype" style="display: none">
            <td style="border:none;">

                <div style="float:left;max-width:50%;position:relative;left:-2px;">

                    <input type="text" class="form-control" id="txtInputEqpType" placeholder="Equipment type" name="Equipment_type" style="height:auto;color:#0E5679;border-color:#0E5679;" />
                </div>
                &nbsp; &nbsp;&nbsp; &nbsp;; &nbsp;
                @Html.AntiForgeryToken()
                <input type="submit" onclick="AddEquipmentTypeDetail()"
                       class="fa fa-save" id="btnSubmit" value="&#xf0c7;" style="font-size:23px;color:#0E5679;background:white;border:white">
                <input type="button" value="X" name="btnCancel" style="color:red;font-size:23px;border:none;background-color:white;" />


            </td>

        </tr>
        <tr>
            <td style="border:none;">
                <div class="row" id="SearchSection">
                    <div class="form-body col-md-6 advanced-filter">
                        <div class="form-group">
                            <input id="SearchInput" type="text" placeholder="Search.." class="form-control" style="max-width:212px;max-height:16px;color:#0E5679;border-width:1px;border-color:#0E5679;">
                        </div>
                    </div>
                    <div class="x_content">
                        <div id="EquipmentTypeGrid"></div>
                    </div>
                </div>
            </td>
        </tr>



    </table>

    <script>
                    function LoadEquipmentTypeGrid() {
                                    $("#EquipmentTypeGrid").kendoGrid({
                dataSource: {

                    transport: {

                         read:
                             {
                                url: "@Html.Raw(Url.Action("ReadEquipmentTypeDetails", "Mdm","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                        },
                        @*update:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","PostponeJob","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                            },
                            create:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","PostponeJob","Maintenance"))",
                                type: "POST",
                                dataType: "json"
                            }*@
                    },
                    batch: true,
                    schema:
                    {
                               data: "Data",
                               total: "Total",
                               errors: "Errors",
                        model:
                        {
                            id : "Id",
                            fields:
                            {
                                Id:
                                {
                                    validation: { required: true },
                                    editable: false,
                                },

                            }
                        }
                    },
                    pageSize: 25

                },
                height: 470,
                width:1020,
                sortable: true,
                reorderable: true,
                groupable: false,
                resizable: true,
                filterable: true,
                columnMenu: true,
                pageable: true,
                selectable: true,
                allowCopy: true,

                columns: [
                    {
                            field: "Id",
                            headerTemplate: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox mt-NoMargin'><input id='mastercheckbox' type='checkbox'/><div class='control__indicator control__indicator_custom mt-top2 rtlabel'></div></label>",
                            template: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox mt-NoMargin'><input type='checkbox' value='#=Id#' class='checkboxGroups chk'/><div class='control__indicator control__indicator_custom mt-top2'></div></label>",
                        width: 50,
                            locked: true,
                        lockable: false,

                        },
                        {
                            field: "Equipment_type",
                            title: "Equipment Type List",
                            width: "1020px",
                            template: '#=SetColor(Equipment_type)#'
                        }


                        ],
                    editable: "inline"

            });
                    }

        $(document).ready(function () {

            $("#tabEquipmentType").click(function () {
                  $('#EquipmentTypeGrid').empty();
                     LoadEquipmentTypeGrid();
            });
        });
                     function SetColor(Equipment_type)
        {
            if(Equipment_type=="Online")
                return "<font color=\"red\">"+Equipment_type+"</font>";
            else
                return Equipment_type;
        }
         function customBoolEditor(container, options) {
                        var guid = kendo.guid();
                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
                    }

                    function additionalData() {
                        var data = {};
                        addAntiForgeryToken(data);
                        return data;
        }
         $('a[href="#sign_up"]').click(function () {



            //var postData = {selectedIds: selectedIds};
            //addAntiForgeryToken(postData);

            // Look for all checkboxes that have a specific class and was checked
            var chkArray = [];
            $(".chk:checked").each(function ()
            {
                chkArray.push($(this).val());
            });

            // calling  via jquery
            $.get("http://localhost:16582/Maintenance/Mdm/DeleteSelected?selectedIds='" + chkArray + "'");
            window.location.reload();
            return false;
       });      $('a[href="#sign_up"]').click(function () {
                      
        
            
            //var postData = {selectedIds: selectedIds};
            //addAntiForgeryToken(postData);

            // Look for all checkboxes that have a specific class and was checked
            var chkArray = [];
            $(".chk:checked").each(function ()
            {
                chkArray.push($(this).val());
            });

            // calling  via jquery
            $.get("http://localhost:16582/Maintenance/Mdm/DeleteSelected?selectedIds='" + chkArray + "'");
            window.location.reload();
            return false;
       });       
    </script>
    <script>
        $(document).ready(function () {
          //  AddEquipmentTypeDetail();
            $(".c1").hide();
            $("#cEnable").click(function () {
                $(".c1").show();
            });
            $("#rEnable").click(function () {
                $(".c1").hide();
            });
        });
         LoadEquipmentTypeGrid();
        $("#btnSubmit").click(function () {
            AddEquipmentTypeDetail();

        });


        function AddEquipmentTypeDetail() {
            //alert("hi");
            var Equipment_type = $("#txtInputEqpType").val();

                 var SearchLocation = $("#txtInputLocationSearch").val();

                      $.ajax({
                            type: "GET",
                            url: "@Url.Action("AddEquipmentTypeDetail")" + "?Equipment_type=" +Equipment_type,
                            data: "{}",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (datas) {
                             // alert("Success");
                            $("#txtInputEqpType").val("");

                               $('#EquipmentTypeGrid').empty();
                                LoadEquipmentTypeGrid();


                            }

                        });

    }
    </script>
    <script type="text/javascript">
            var selectedIds = [];
        $(document).ready(function () {
            //search button
            $('#search-department').click(function () {
                //search
                var grid = $('#EquipmentTypeGrid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-department").click();
                    return false;
                }
            });
        });

            //delete selected
            $('#delete-selected').click(function(e) {

                e.preventDefault();

                var postData = {
                    selectedIds: selectedIds
                };
                addAntiForgeryToken(postData);


        // Look for all checkboxes that have a specific class and was checked
                 var chkArray = [];
        $(".chk:checked").each(function() {
            chkArray.push($(this).val());
        });


               // calling  via jquery
                $.get("http://localhost:16592/Maintenance/Vessel/DeleteSelected?selectedIds='" + chkArray + "'");
                window.location.reload();
                return false;
            });

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').prop('checked', $(this).is(':checked')).change();

                  //wire up checkboxes.
            $('#vessel-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
            });

        function additionalData() {
            var data = {
                SearchName: $('#@Html.FieldIdFor(model => model.SearchName)').val()
            };
            addAntiForgeryToken(data);
            return data;
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#SearchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#SearchSection tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</div>






