@model JobplanListModel
@inject Grand.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    var VesselName = @HttpContextAccessor.HttpContext.Session.GetString("VesselName");
    var SessionVar = @HttpContextAccessor.HttpContext.Session.GetString("email");

    if (VesselName == null)
    {
        <script>

        $(window).load(function(){
            swal({

                title: 'Vessel Not Selected!',
                allowOutsideClick: false,
                text: 'Please select a Vessel',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function () {
                    window.location.href = '@Url.Action("VesselList","Vessel")';
                })

            });

        </script>
    }

    if (SessionVar == null)
    {
        <script>

            $(window).load(function ()
            {
            swal({

                title: 'TimeOut!',
                allowOutsideClick: false,
                text: '"Time Out! , Please Login"',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function ()
                {
                    window.location.href = '@Url.Action("LoginPage","Register")';
                })

            });

        </script>
    }

}

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.mobile.min.css" />

<script src="https://kendo.cdn.telerik.com/2020.1.114/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>


<div class="row" id="SearchSection">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption" style="color:#0E5679;font-weight:900">
                    <i class="fa fa-cubes" style="color:#0E5679"></i>
                    POSTPONED JOB REPORTS
                </div>
                <div class="actions btn-group btn-group-devided">
                    @*<a href="@Url.Action("AddVessel")" class="btn green"><i class="fa fa-plus"></i><span class="hidden-xs">Job Postpone @T("Admin.Common.AddNew") </span></a>*@
                    @*<vc:admin-widget widget-zone="vendor_list_buttons" additional-data="null" />
                    <button type="button" id="btnSelectRow1" value="GetValue" class="btn btn-success" data-toggle="modal" data-target="#myModal1">Complete Job</button>*@
                    @*<button type="button" id="btnSelectRow" value="GetValue" class="btn btn-success" data-toggle="modal" data-target="#myModal">View</button>*@
                </div>

            </div>

            <div class="x_content">
                <div id="vessel-grid"></div>
            </div>
        </div>
    </div>
</div>

<div id="example">
    <antiforgery-token />
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {

                    transport: {

                         read:
                             {
                                url: "@Html.Raw(Url.Action("List", "PostponeJob","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                        },
                        @*update:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","PostponeJob","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                            },
                            create:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","PostponeJob","Maintenance"))",
                                type: "POST",
                                dataType: "json"
                            }*@
                    },
                    batch: true,
                    schema:
                    {
                               data: "Data",
                               total: "Total",
                               errors: "Errors",
                        model:
                        {
                            id : "Id",
                            fields:
                            {
                                Id:
                                {
                                    validation: { required: true },
                                    editable: false,
                                },
                                    NEXT_DUE_DATE: { type: "date" },
                                    LAST_DONE_DATE: {type:"date"}
                            }
                        }
                    },
                    pageSize: 30
                },
                height: 580,
                sortable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                pageable: false,
                selectable: true,
                allowCopy: true,
                columns: [
                    {
                            field: "JobOrder",
                            title: "JobOrder",
                            width: "120px"
                        },

                        {
                            field: "EquipmentCode",
                            title: "Equipment Code",
                            width: "160px"
                        },
                        {
                            field: "EquipmentName",
                            title: "Equipment Name",
                            width: "190px"
                        },
                        {
                            field: "JobTitle",
                            title: "Job Title",
                            width: "200px"
                        },
                        {
                            field: "Frequency",
                            title: "Frequency",
                            width: "100px"

                        },
                        {
                            field: "Department",
                            title: "Department",
                            width: "100px"
                        },
                        {
                            field: "LAST_DONE_DATE",
                            title: "Last Done",
                             format: "{0:dd-MM-yyyy}",
                            width: "150px"
                        },
                        {
                            field: "NEXT_DUE_DATE",
                            title: "Next Due",
                            format: "{0:dd-MM-yyyy}",
                            width: "150px",
                        }],
                    editable: "inline"

            });
        });
         function customBoolEditor(container, options) {
                        var guid = kendo.guid();
                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
                    }

                    function additionalData() {
                        var data = {};
                        addAntiForgeryToken(data);
                        return data;
        }
    </script>
</div>
<script>
    $("#btnSelectRow1").click(function () {

        var grid = $("#grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {

            window.location.reload();
            alert("Please Select a Job");
        }
        else {
            var Bid = selectedItem.Id;
            var equipmentname = selectedItem.EquipmentName;
            var equipmentCode = selectedItem.EquipmentCode;
            var JobOrder = selectedItem.JobOrder;
            var jobTitle = selectedItem.JobTitle;

            var frequency = selectedItem.Frequency;
            var department = selectedItem.Department;
            var lastDoneDate = selectedItem.LAST_DONE_DATE;
            var nextDueDate = selectedItem.NEXT_DUE_DATE

            document.getElementById("Bid2").value = Bid;
            document.getElementById("Ename2").value = equipmentname;
            document.getElementById("ECode2").value = equipmentCode;
            document.getElementById("jobTitle2").value = jobTitle;
            document.getElementById("frequency2").value = frequency;
            document.getElementById("department2").value = department;
            document.getElementById("lastDoneDate2").value = lastDoneDate;
            document.getElementById("nextDueDate2").value = nextDueDate;
            document.getElementById("JobOrder").value = JobOrder;


        }

    });
</script>






@* -------------------------------------------COmplete Modal------------------------------------------------------------------- *@

<link rel="stylesheet" href="~/Maintenance/modal/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>



<div class="modal fade  come-from-modal right" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px">
        <form action="CompleteJob" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Complete Job</h4>


                </div>

                <div class="modal-body" style="left:5%">
                    <div class="row clearfix">
                        <br />
                        <div class="col-md-12">
                            <b>Job Order</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="Bid2" name="Bid2" readonly hidden>
                                    <input type="text" id="JobOrder" name="JobOrder" readonly value="" class="form-control time24" hidden>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Equipment Code</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">

                                    <input type="text" id="ECode2" name="ECode2" readonly value="" class="form-control time24" hidden>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Equipment Name</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="Ename2" name="Ename2" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />


                        <div class="col-md-12">
                            <b>Job Title</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="jobTitle2" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Frequency</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="frequency2" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Department</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="department2" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Completed On</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="date" id="nextDueDate" name="dt" value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Remark</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">

                                    <textarea rows="3" cols="100" id="remark" name="remark" class="form-control time24"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    @Html.AntiForgeryToken()
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <input type="submit" class="btn btn-primary" value="Complete" id="submit" />

                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

