@model ViewModel

<div class="body" id="_general">
    <div class="demo-masked-input">
        <div class="row clearfix border-secondary">

            <div class="col-md-3" style="float:right">
                <button onclick="AddEquipment('')"
                   class="btn btn-success" style="width:auto;position:relative;right:-3%">
                    <i class="fa fa-plus"></i>
                    @*<span class="hidden-xs">Add</span>*@
                </button>

            </div>
            <div class="col-md-4" style="float:left">
                <button class="btn btn-success makeEditable col-md-offset-10 c"
                        type="submit" name="Edit" style="width:auto;position:relative;right:-180%" 
                        onclick="MakedropDownEditable()">
                    <i class="fa fa-pencil"></i>

                    @*<span class="hidden-xs"> Edit</span>*@
                </button>

            </div>

            <form action="GeneralEdit" method="post">
                <div class="col-md-2" style="float:right">

                    <input type="submit" value="&#xf0f6" class="fa fa-floppy-o aria-hidden=true" style="width:33px;position:relative;right:-205%;height:33px;background:#0E5679;color:white;"  />

                </div>


                <div class="col-md-4">
                    <b>Equipment Code</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            @*@Html.TextBoxFor(m => m.Sub2_number, new { disabledd = "disabled", id = "id1" })<br />*@
                            <input type="text" style="color:#0E5679;" value="" name="code" class="form-control money-euro" placeholder="" id="id17" readonly="readonly">
                            <input type="hidden" id="SubNumber" />
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <b>Equipment Name</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">

                            <input type="text" style="color:#0E5679;" value="" name="EquipmentName" class="form-control money-euro" placeholder="" id="id1" readonly="readonly">
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <b>Safety Level</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" style="color:#0E5679;" name="safety" value="" class="form-control money-euro" placeholder="" id="id5" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <b>Maker</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            @*<input type="text" value="" style="color:#0E5679;" name="maker" class="form-control money-euro" placeholder="" id="id6"readonly="readonly">*@
                       
                            <select name="eqtype" class="form-control money-euro"
                                    id="maker" style="color:#0E5679;border-color:#0E5679">
                                <option>Select</option>
                                @foreach (var item in Model.Makers)
                                {

                                   
                                    <option class="form-control money-euro" id="@item.Id"> @item.Name</option>

                                }
                            </select>
                        
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <b>Model</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            @*<input type="text" value="" style="color:#0E5679;" name="model" class="form-control money-euro" placeholder="" id="id7" readonly="readonly">*@
                            <select name="makerModel" class="form-control money-euro"
                                    id="makerModel" style="color:#0E5679;border-color:#0E5679">

                                @foreach (var item in Model.EquipmentTypeList)
                                {


                                    <option class="form-control money-euro"> item</option>

                                }
                            </select>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <b>Equipment Type</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
        @*<input type="text" name="eqtype" value="" class="form-control money-euro" placeholder="" id="id8" readonly="readonly">
                  @*<input type="text" id="eqptype_">*@
                          <select name="eqtype" class="form-control money-euro" id="eqptype" style="color:#0E5679;border-color:#0E5679" disabled>
                            <option id="dvalue"></option>
                            @foreach (var item in Model.EquipmentTypeList)
                            {


                                <option class="form-control money-euro" > @item</option>

                            }
                        </select>
                            </div>  

                        </div>
                </div>


                <div class="col-md-4">
                    <b>Drawing Number</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" value="" style="color:#0E5679;" name="drawno" class="form-control money-euro" placeholder="" id="id9" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <b>Department</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" value="" style="color:#0E5679;" name="dept" class="form-control money-euro" placeholder="" id="id10" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <b>Location</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" value="" style="color:#0E5679;" name="location" class="form-control money-euro" placeholder="" id="id11" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <b>Equipment Status</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" style="color:#0E5679;" value="" name="eqstatus" class="form-control money-euro" placeholder="" id="id12" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <b>Remark</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" style="color:#0E5679;" value="" name="remark" class="form-control money-euro" placeholder="" id="id13" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>Vessel</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" style="color:#0E5679;" value="" class="form-control money-euro" placeholder="" id="id14" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>Type</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" value="" style="color:#0E5679;" name="type" class="form-control money-euro" placeholder="" id="id15" readonly="readonly">
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <b>Universal Job Code</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" value="" name="type" class="form-control money-euro" placeholder="" readonly="readonly">
                        </div>
                    </div>
                </div>*@
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>


<style>
    #_general input[type=text] {
        //border: none;
        border-color:#0E5679;
        //border-bottom: 1px solid #337ab7;
    }

    #_general .input-group-addon {
        border: none;
        background-color: #ffff;
        color: #0f5f86;
        line-height: 3;
    }

  input::placeholder {
  color: red;
  font-size: 1.2em;
  font-style: italic;
}
  

</style>



@*<script type="text/javascript">
    $(function () {
        $(".makeEditable").click(function () {
           
            $('input:text').removeAttr("readonly");


            //$("#id5").prop("readonly", false);
            //$(".name2").prop("readonly", false);
            //$(".name3").prop("readonly", false);
            //$(".name4").prop("readonly", false);
            //$(".name5").prop("readonly", false);
            //$(".name6").prop("readonly", false);
            //$(".name7").prop("readonly", false);
            //$(".name8").prop("readonly", false);
            //$(".name9").prop("readonly", false);
            //$(".name10").prop("readonly", false);
            //  $(".name11").prop("readonly", false);
            $.ajax({
                type: "GET",
                url: "Equipments/GetJobTypeDetails",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (datas) {
                    var data = JSON.parse(datas);
                    alert(data);
                }
            });
            //$(".silpa").click(function () {
            //    $('input:text').attr("readonly", "readonly");
            //});//this





        });

    });




</script>*@
<script>

    window.MakerName = "";
    window.MakerId = "";
    $(function () {
        $("#maker").change(function () {

            window.MakerName = $("#maker option:selected").text();
          //  alert("mnmame" + window.MakerName);
            window.MakerId = $("#maker option:selected").attr("id");
             $.ajax({
                            type: "GET",
                            url: "@Url.Action("ReadMakerModelDetails")" + "?Id=" +window.MakerId+"&MakerName="+ window.MakerName,
                            data: "{}",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (datas) {
                                console.log(JSON.parse(datas));
                               var results= JSON.parse(datas);
                             // alert("Success");
                            let data = JSON.stringify(datas);

                             //   alert("name=" + data.Model + " " + results[0].Model);
                                if (window.MakerName.length == 0)
                                {
                                    $("#makerModel").html("<option></option>");
                                }
                                else {
                                    var makerModel = "";
                                    for (var i = 0; i <results.length; i++) {
                                        //$("#makerModel").html("<option>"+data[i]+"</option>");
                                        makerModel += "<option>" + results[i].Model + "</option>";
                                        $("#makerModel").html(makerModel);
                                    }

                                }
                               
                               
                            }

                        });

        //alert("Id" + MakerId + "MakerName" + MakerName);
        });
    });
    function AddEquipment(data) {
        //  var url = location.origin + '/Maintenance/Equipments/AddEquipment?equipment_Code=' + window.selectedEquipmentCode;
        var url = location.origin + '/Maintenance/Equipments/AddEquipment?equipment_Code='
            + window.selectedEquipmentCode + "&sub_number=" + window.sub_number + "&EquipmentId=" + window.EquipmentId;
        window.location.href = url;
    }
    function MakedropDownEditable() {
       $("#eqptype").removeAttr('disabled');
    }

</script>