@inject AdminAreaSettings adminAreaSettings

<div class="x_title">

    <div class="actions">
        <div class="btn-group btn-group-devided util-btn-margin-bottom-5">
            <button type="button" id="btnSelectRow" value="GetValue" class="btn green" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></button>

            @*<button type="button" id="btnSelectRowEdit" value="GetValue" class="btn green" data-toggle="modal" data-target="#edit"><i class="fa fa-eye" aria-hidden="true"></i></button>*@
            <a href="#sign_up" class="btn btn-danger"><i class="fa fa-trash"></i><span class="hidden-lg"> </span></a>
            <a href="@Url.Action("NewJobPlan")" class="btn green"><i class="fa fa-plus"></i><span class="hidden-xs"> @*@T("Admin.Common.AddNew")*@ </span></a>


            <vc:admin-widget widget-zone="vendor_list_buttons" additional-data="null" />
        </div>
    </div>
</div>



<script>

</script>
<div id="example">
    <antiforgery-token />
    <div id="grid"></div>

    <script>
        var eqp=sessionStorage.getItem("EquipmentCode")
        $(document).ready(function () {
            loadJobPlan();
            $("#btn1").click(function () {
                loadJobPlan();
              });

        });



        function loadJobPlan() {
           // alert("Jobplan is loading");
               window.SelectedEquipmentType=$("#eqptype").val();
                 $("#grid").kendoGrid({
                    dataSource:
                    {
                        transport:
                        {
                            read:
                            {
                                url: "@Html.Raw(Url.Action("ReadJobPlan","Equipments","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: gridadditionalData
                            },
                            update:
                            {
                                url: "@Html.Raw(Url.Action("UpdateJobPlan", "Equipments","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: gridadditionalData
                            },
                            parameterMap: function(data, type) {
                                if (type === 'create' || type === 'update') {
                                // this changes the date to 'dd/MM/YYYY' format
                                    data.LAST_DONE_DATE = kendo.toString(data.LAST_DONE_DATE, 'dd/MMM/yyyy hh:mm:ss tt');

                                }
                                return data;
                            }
                        },

                        pageSize: @(adminAreaSettings.DefaultGridPageSize),
                        schema:
                        {

                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model:
                            {
                                id : "Id",
                                fields:
                                {
                                    Id: { required: true },
                                    JobOrder: { required: true, type: "int" },
                                    LAST_DONE_DATE: { editable: true,type: "date", format: "{0: dd/MM/yyyy}" },
                                    NEXT_DUE_DATE: {type:"date"}
                                }
                            }
                        }
                    },
                   // batch:true,
                    sortable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                 scrollable:
                    {
                       endless: true
                    },

                selectable: true,
                    allowCopy: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)],
                    height: 545,

                     columns: [
                        {
                                            field: "Id",
                                            headerTemplate: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox mt-NoMargin'><input id='mastercheckbox' type='checkbox'/><div class='control__indicator control__indicator_custom mt-top2 rtlabel'></div></label>",
                                            template: "<label class='mt-checkbox mt-checkbox-outline control control-checkbox mt-NoMargin'><input type='checkbox' value='#=Id#' class='checkboxGroups chk'/><div class='control__indicator control__indicator_custom mt-top2'></div></label>",
                                        width: 50,


                                        },
                        {
                        field: "JobOrder",
                        title: "JobOrder",
                        width: "120px",
                        lockable: true,

                        },

                        //{
                        //    field: "EquipmentName",
                        //    title: "Equipment Name",
                        //    width: "200px"
                        //},

                         {
                            field: "UniversalJobCode",
                            title: "Job code",
                            width: "120px"
                        },

                         {
                            field: "CalFrequency",
                            title: "Interval",
                            width: "120px"
                        },
                        // {
                        //    field: "RunFrequency",
                        //    title: "Run Frequency",
                        //    width: "120px"
                        //},
                          {
                            field: "FrequencyType",
                            title: "Frequency",
                            width: "150px"
                        },
                         {
                            field: "Department",
                            title: "Department",
                            width: "120px"
                        },
                        {
                            field: "JobTitle",
                            title: "Job Title",
                            width: "200px"
                        },

                        {
                            field: "LAST_DONE_DATE",
                            title: "Last Done Date",
                           format: "{0:dd-MM-yyyy}",
                            width: "150px"
                        },

                        {
                            field: "NEXT_DUE_DATE",
                            title: "Next Due Date",
                           format: "{0:dd-MM-yyyy}",
                            width: "150px"
                        },

                        {
                            field: "PreviousReading",
                            title: "Current Hrs",
                            width: "180px"
                        },
                        {
                            field: "LastReading",
                            title: "Last Reading",
                            width: "150px"
                        },

                        {
                            field: "DueRhs",
                            title: "Due Hrs",
                            width: "150px"
                        },
                        {
                            field: "Cbm",
                            template: '<a class="btn btn-primary btn1"  onclick="ViewCbm(this)" alt="#:Cbm#">View</a>',
                            title: "Cbm",
                            width: "150px"
                        }

                        //{
                        //    command: ["edit"],
                        //    title: "&nbsp;",
                        //    width: "100px"
                        //}
                    ],
                    editable: "inline",

                 });
        }


            function gridadditionalData()
            {
                var data = {
                    selectedEquipmentCode: window["selectedEquipmentCode"],
                    SelectedEquipmentType:window.SelectedEquipmentType
                };
                //data.selectedEquipmentCode = window["selectedEquipmentCode"];
                addAntiForgeryToken(data);
                return data;
            }
    </script>
</div>


<script>
    $("#btnSelectRow").click(function () {

        var grid = $("#grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());

        $("#lblJobOrder").text(selectedItem.JobOrder);
        $("#lblEquipmentName").text(selectedItem.EquipmentName);
        $("#lblEquipmentcode").text(selectedItem.EquipmentCode);
        $("#lblDepartment").text(selectedItem.Department);
        $("#lblJobtitle").text(selectedItem.JobTitle);
        $("#lblFrequency").text(selectedItem.Frequency);
        $("#lblLastDoneDate").text(selectedItem.LAST_DONE_DATE);
        $("#lblNextDueDate").text(selectedItem.NEXT_DUE_DATE);
        $("#lblJobType").text(selectedItem.Job_Type);
        $("#lblJobDescription").text(selectedItem.JobDescription);
        $("#lblPriority").text(selectedItem.Priority);
        $("#lblRank").text(selectedItem.Rank);
        $("#lblAssignedTo").text(selectedItem.AssignedTo);



        var ename = selectedItem.EquipmentName;
        var ecode = selectedItem.EquipmentCode;
        var jobOrder = selectedItem.JobOrder;
        var department = selectedItem.Department;
        var jobTitle = selectedItem.JobTitle;
        var frequency = selectedItem.Frequency;
        //var lastDoneDate = selectedItem.LAST_DONE_DATE;
        var nextDueDate = selectedItem.NEXT_DUE_DATE;
        var FrequencyType = selectedItem.FrequencyType
        var Job_Type = selectedItem.Job_Type;
        var JobDescription = selectedItem.JobDescription;
        var Priority = selectedItem.Priority;
        var Rank = selectedItem.Rank;
        var AssignedTo = selectedItem.AssignedTo;
        var frequencyRhs = selectedItem.frequencyRhs;
        var PreviousReading = selectedItem.PreviousReading;

        document.getElementById("Ename").value = ename;
        document.getElementById("ECode").value = ecode;
        document.getElementById("JobOrder").value = jobOrder;
        document.getElementById("JobOrder2").value = jobOrder;
        document.getElementById("JobOrder3").value = jobOrder;
        document.getElementById("Department").value = department;
        document.getElementById("JobTitle").value = jobTitle;
        document.getElementById("Frequency").value = frequency;
        //document.getElementById("LastDoneDate").value = lastDoneDate;
        document.getElementById("NextDueDate").value = nextDueDate;
        document.getElementById("FrequencyType").value = FrequencyType;
        document.getElementById("FrequencyType1").value = FrequencyType;
        document.getElementById("Job_Type").value = Job_Type;
        document.getElementById("JobDescription").value = JobDescription;
        document.getElementById("Priority").value = Priority;
        document.getElementById("Rank").value = Rank;
        document.getElementById("AssignedTo").value = AssignedTo;
        document.getElementById("frequencyRhs").value = frequencyRhs;
        document.getElementById("PreviousReading").value = PreviousReading;



    });
    $("#btnSelectRowEdit").click(function () {

        var grid = $("#grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());


        $("#lblJobOrder").text(selectedItem.JobOrder);
        $("#lblEquipmentName").text(selectedItem.EquipmentName);
        $("#lblEquipmentcode").text(selectedItem.EquipmentCode);
        $("#lblDepartment").text(selectedItem.Department);
        $("#lblJobtitle").text(selectedItem.JobTitle);
        $("#lblFrequency").text(selectedItem.Frequency);
        $("#lblLastDoneDate").text(selectedItem.LAST_DONE_DATE);
        $("#lblNextDueDate").text(selectedItem.NEXT_DUE_DATE);
        $("#lblJobType").text(selectedItem.Job_Type);
        $("#lblJobDescription").text(selectedItem.JobDescription);
        $("#lblPriority").text(selectedItem.Priority);
        $("#lblRank").text(selectedItem.Rank);
        $("#lblAssignedTo").text(selectedItem.AssignedTo);

        alert("hi" + selectedItem.FrequencyType);
        if (selectedItem.EquipmentName != null) {
            var enameEdit = selectedItem.EquipmentName;
        }
        if (selectedItem.EquipmentCode != null) {
            var ecodeEdit = selectedItem.EquipmentCode;
        }
        if (selectedItem.JobOrder != null) {
            var jobOrderEdit = selectedItem.JobOrder;
        }
        if (selectedItem.Department != null) {
            var departmentEdit = selectedItem.Department;
        }
        if (selectedItem.JobTitle != null) {
            var jobTitleEdit = selectedItem.JobTitle;
        }
        if (selectedItem.FrequencyType != null) {
            var FrequencyTypeEdit = selectedItem.FrequencyType;
        }
        if (selectedItem.CalFrequency != null) {
            var frequencyEdit = selectedItem.CalFrequency;
        }
        if (selectedItem.LAST_DONE_DATE != null) {
            var lastDoneDateEdit = selectedItem.LAST_DONE_DATE;
        }
        if (selectedItem.NEXT_DUE_DATE != null) {
            var nextDueDateEdit = selectedItem.NEXT_DUE_DATE;
        }
        if (selectedItem.Job_Type != null) {
            var Job_TypeEdit = selectedItem.Job_Type;
        }
        if (selectedItem.JobDescription != null) {
            var JobDescriptionEdit = selectedItem.JobDescription;
        }
        if (selectedItem.Priority != null) {
            var PriorityEdit = selectedItem.Priority;
        }
        if (selectedItem.Rank != null) {
            var RankEdit = selectedItem.Rank;
        }
        if (selectedItem.AssignedTo != null) {
            var AssignedToEdit = selectedItem.AssignedTo;
        }
        //if (selectedItem.frequencyRhs != null) {
        //    var frequencyRhsEdit = selectedItem.frequencyRhs;
        //}
        if (selectedItem.PreviousReading != null) {
            var PreviousReadingEdit = selectedItem.PreviousReading;
        }
        if (selectedItem.EquipmentName != null) {
            document.getElementById("EnameEdit").value = enameEdit;

        }
        if (selectedItem.EquipmentCode != null) {
            document.getElementById("ECodeEdit").value = ecodeEdit;
        }
        if (selectedItem.JobOrder != null) {
            document.getElementById("JobOrderEdit").value = selectedItem.JobOrder;
        }

        if (selectedItem.Department != null) {
            document.getElementById("DepartmentEdit").value = departmentEdit;
        }
        if (selectedItem.JobTitle != null) {

            document.getElementById("JobTitleEdit").value = jobTitleEdit;
        }
        if (selectedItem.FrequencyType != null) {
            document.getElementById("FrequencyTypeEdit").value = selectedItem.FrequencyType;
        }
        if (selectedItem.CalFrequency != null) {
            document.getElementById("FrequencyEdit").value = selectedItem.CalFrequency;
        }
        if (selectedItem.LAST_DONE_DATE != null) {
            document.getElementById("LastDoneDateEdit").value = lastDoneDateEdit;
        }
        if (selectedItem.NEXT_DUE_DATE != null) {
            document.getElementById("NextDueDateEdit").value = nextDueDateEdit;
        }
        //if (selectedItem.FrequencyType != null) {
        //    document.getElementById("FrequencyType1Edit").value = FrequencyTypeEdit;
        //}
        if (selectedItem.Job_Type != null) {
            document.getElementById("Job_TypeEdit").value = Job_TypeEdit;
        }
        if (selectedItem.JobDescription != null) {
            document.getElementById("JobDescriptionEdit").value = JobDescriptionEdit;
        }
        if (selectedItem.Priority != null) {
            document.getElementById("PriorityEdit").value = PriorityEdit;
        }
        if (selectedItem.Rank != null) {
            document.getElementById("RankEdit").value = RankEdit;
        }
        if (selectedItem.AssignedTo != null) {
            document.getElementById("AssignedToEdit").value = AssignedToEdit;
        }
        //if (selectedItem.frequencyRhs != null) {
        //    document.getElementById("frequencyRhsEdit").value = frequencyRhsEdit;
        //}
        if (selectedItem.PreviousReading != null) {
            document.getElementById("PreviousReadingEdit").value = PreviousReadingEdit;
        }



    });
    $('a[href="#sign_up"]').click(function () {



        //var postData = {selectedIds: selectedIds};
        //addAntiForgeryToken(postData);

        // Look for all checkboxes that have a specific class and was checked
        var chkArray = [];
        $(".chk:checked").each(function () {
            chkArray.push($(this).val());
        });

        // calling  via jquery
        $.get("http://localhost:16582/Maintenance/Equipments/DeleteSelectedJobPlan?selectedIds='" + chkArray + "'");
        window.location.reload();
        return false;
    });
</script>

<!-- Modal New -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl" style="width:1400px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!---------------------------------------- Basic Details Start ---------------------------------------------->
                <div class="col-md-3">
                    <b>Equipment Name</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">

                            <input type="text" id="Ename" readonly value="" class="form-control time24" placeholder="">

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <b>Equipment Code</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" id="ECode" readonly value="" class="form-control money-euro" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <b>Job Title</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" id="JobTitle" readonly value="" class="form-control key" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <b>Department</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">turned_in_not</i>
                        </span>
                        <div class="form-line">
                            <input type="text" id="Department" readonly value="" class="form-control key" placeholder="">
                        </div>
                    </div>
                </div>
                <!---------------------------------------- Basic Details Start ---------------------------------------------->
                <!---------------------------------------- Job Details Calendar Start ---------------------------------------------->
                <form action="EditJobplanCalendar" method="post">
                    <div class="col-md-3">
                        <b>Frequency</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Frequency" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Frequency Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="FrequencyType" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Last Done Date</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="date" id="lastdone" name="lastdone" value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Due Date</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="NextDueDate" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Job Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Job_Type" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Priority</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Priority" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Rank</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Rank" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Assigned To</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="AssignedTo" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>




                    @Html.AntiForgeryToken()
                    <div class="col-md-3">
                        @*<b>Assigned To</b>*@
                        <div class="input-group">
                            @*<span class="input-group-addon">
                                    <i class="material-icons">turned_in_not</i>
                                </span>*@
                            <div class="form-line">
                                <input type="submit" class="btn btn-primary m-t-15 waves-effect" value="Update" id="submit" style="float:right;background-color:#0e5679" />

                            </div>
                        </div>
                    </div>

                </form>
                <!---------------------------------------- Job Details Calendar Start ---------------------------------------------->
                <hr>

                <!---------------------------------------- Job Details Rhs Start -------------------------------------------->
                <form action="EditJobplanRhs" method="post">
                    <div class="col-md-3">
                        <b>Frequency</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="frequencyRhs" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Frequency Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="FrequencyType1" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>



                    <div class="col-md-3">
                        <b>Previous Rhs</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="PreviousReading" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Current Rhs</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="number" id="currentRhs" name="currentRhs" class="form-control key">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Last Done Date</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="date" id="lastdone" name="lastdone" value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Job Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Job_Type" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Priority</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Priority" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Rank</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Rank" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Assigned To</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="AssignedTo" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>




                    @Html.AntiForgeryToken()

                    <div class="col-md-3">
                        <b></b>
                        <div class="input-group">
                            @*<span class="input-group-addon">
                                    <i class="material-icons">turned_in_not</i>
                                </span>*@
                            <div class="form-line">
                                <input type="submit" class="btn btn-primary m-t-15 waves-effect" value="Update" id="submit" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b></b>
                        <div class="input-group">
                            @*<span class="input-group-addon">
                                    <i class="material-icons">turned_in_not</i>
                                </span>*@
                            <div class="form-line">
                                <span>.</span>
                            </div>
                        </div>
                    </div>


                </form>
                <!---------------------------------------- Job Details Rhs Start -------------------------------------------->
                <!---------------------------------------- Job Description Start ------------------------------------------------->

                <div class="col-md-8">
                    <b>Description</b>
                    <div class="input-group">
                        <div class="input-group" style="width:auto">


                            <textarea id="JobDescription" readonly="" value="" class="form-control key" placeholder="" style="margin: 0px; height:217px; width:1343px;"></textarea>

                        </div>
                    </div>
                </div>

                <!---------------------------------------- Job Description End -------------------------------------------------->


            </div>

            <!-- Modal footer -->
            <br /><br /><br />
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
            </div>

        </div>
    </div>
</div>
<!-- Modal New -->
<!-- Modal -->


                <style>



                    #tabstrip h2 {
                        font-weight: lighter;
                        font-size: 5em;
                        line-height: 1;
                        padding: 0 0 0 30px;
                        margin: 0;
                    }

                        #tabstrip h2 span {
                            background: none;
                            padding-left: 5px;
                            font-size: .3em;
                            vertical-align: top;
                        }

                    #tabstrip p {
                        margin: 0;
                        padding: 0;
                    }
                </style>

                <script>
                    $(document).ready(function () {
                        $("#tabstrip").kendoTabStrip({
                            animation: {
                                open: {
                                    effects: "fadeIn"
                                }
                            }
                        });
                    });
                </script>
            </div>





        </div>

    </div>
</div>

<div id="edit" class="modal fade" role="dialog" style="top:auto;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body" style="height:350px;overflow:auto">
            <form action="EditJobplanModal" method="post">
                <div class="row clearfix">

                    <div class="col-md-3">
                        <b>Job Order</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="JobOrderEdit" name="JobOrderEdit" readonly value="JobOrder" class="form-control time24" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Equipment Name</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">

                                <input type="text" id="EnameEdit" name="EnameEdit" readonly value="" class="form-control time24" placeholder="">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Equipment Code</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="ECodeEdit" name="ECodeEdit" readonly value="" class="form-control money-euro" placeholder="">
                            </div>
                        </div>
                    </div>




                    <div class="col-md-3">
                        <b>Job Title</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="JobTitleEdit" name="JobTitleEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <b>Department</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="DepartmentEdit" name="DepartmentEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Frequency</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="FrequencyEdit" name="FrequencyEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Frequency Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="FrequencyTypeEdit" name="FrequencyTypeEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Last Done Date</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="LastDoneDateEdit" name="LastDoneDateEdit" value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Due Date</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="NextDueDateEdit" name="NextDueDateEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Job Type</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="Job_TypeEdit" name="Job_TypeEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Priority</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="PriorityEdit" name="PriorityEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Rank</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="RankEdit" name="RankEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <b>Assigned To</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">turned_in_not</i>
                            </span>
                            <div class="form-line">
                                <input type="text" id="AssignedToEdit" name="AssignedToEdit" readonly value="" class="form-control key" placeholder="">
                            </div>
                        </div>
                    </div>


                </div>

                @Html.AntiForgeryToken()


                <input type="submit" class="btn btn-primary m-t-15 waves-effect" value="Update" id="submit" />
            </form>
            <input type="button" class="btn btn-primary m-t-15 waves-effect makeEditable" value="Edit" id="submit" />
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".makeEditable").click(function () {
                $('input:text').removeAttr("readonly");
            });

        })
    </script>

</div>


<script>
    $(function () {

        $("#btn1").text();
    });
    function ViewCbm(data) {
        //alert("hai==" + data.text);
        var myHeading = "";
        var cbm = data.getAttribute("alt").split(',');

        if (data.getAttribute("alt") != "") {
            for (var i = 0; i < cbm.length - 1; i++) {
                //  alert("hai==" + cbm[i]);
                myHeading = myHeading + "<p>" + cbm[i] + "<p><hr>";

            }

        }
        else {
            myHeading = myHeading + "<p style='color:red'>   No Cbm Parameter<p>";
        }
        $("#modal-body").html(myHeading);
        $('#modal').modal('show');
    }
</script>
<!----modal starts here--->
<div id="modal" class="modal fade" role='dialog' tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left:50%;margin-top:15%">
        <div class="modal-content" style="width:50%; height:50%; border:solid 2px #7273a3">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cbm parameter</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <p>Here the description starts here........</p>

            </div>

        </div>
    </div>
</div>
<!--Modal ends here--->
