@model ViewModel
@inject AdminAreaSettings adminAreaSettings
    @{
        var VesselName = @HttpContextAccessor.HttpContext.Session.GetString("VesselName");
        var SessionVar = @HttpContextAccessor.HttpContext.Session.GetString("email");
        if (VesselName == null)
        {
            <script>

        $(window).load(function(){
            swal({

                title: 'Vessel Not Selected!',
                allowOutsideClick: false,
                text: 'Please select a Vessel',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function () {
                    window.location.href = '@Url.Action("VesselList","Vessel")';
                })

            });

            </script>
        }

        if (SessionVar == null)
        {
            <script>

            $(window).load(function ()
            {
            swal({

                title: 'TimeOut!',
                allowOutsideClick: false,
                text: '"Time Out! , Please Login"',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function ()
                {
                    window.location.href = '@Url.Action("LoginPage","Register")';
                })

            });

            </script>
        }

    }
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>
<style>
    /*.tablink {
  
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 13px;
  width: 20%;
  height:90%;
}*/

/*.tablink:hover {
  //background-color: #0e5679;
  color:white;
  height:100%;
  width:20%;
  border-color:#0e5679;
}*/

</style>
    <section>

        <div>
            <div id="example" style="float:left;width:25%; background-color:#fff; margin-left:2px;">

                <div class="demo-section k-content" style="height: 700px;background-color: #ffff;padding-left:1em; padding-top:1em; padding-right:1em;">
                    <div class="container">
                        <div style="float: left; width: 15%">
                            <button class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <div style="float:left;width:80%;position:relative;left:-7px;">
                            <input class="form-control" id="searchbar" onkeyup="search_sidebar()" type="text"
                                   name="search" placeholder="Search ..">
                        </div>
                        <br /><br />

                    </div>

                     <ul id="treeview" style="height:621px; overflow:auto; font-size:small;">
                         <li  class="data">
                             <span style="color: #7273a3;font-size:14px">EQUIPMENTS</span>
                             <ul>

                                 @foreach (var item in Model.AllEquipments.Where(f => f.Sub1_number != null && f.Sub1_description != null))
                                 {
                                     // var lastNode1 = Model.AllEquipments.Where(f => f.Sub1_number != null && f.Sub1_description != null).Last().Sub1_number;
                                     <li class="data">

                                         <span>
                                             <a onclick="equipmentSelected(this); return false;" style="color: #7273a3"
                                                alt="Sub1_number-Sub1_description-@item.Id">@item.Sub1_number-@item.Sub1_description</a>
                                         </span>

                                         <ul>
                                             @foreach (var item2 in Model.AllEquipments.Where(f => f.Sub2_number != null && f.Sub2_description != null && f.Type == item.Type))
                                             {

                                                 // var  lastNode2 = Model.AllEquipments.Where(f => f.Sub2_number != null && f.Sub2_description != null && f.Type == item.Type).Last().Sub2_number;
                                                 <li class="data">

                                                     <a class="id1" href="#" onclick="equipmentSelected(this); return false;"
                                                        style="color:#7273a3"
                                                        alt="Sub2_number-Sub2_description-@item2.Id">@item2.Sub2_number-@item2.Sub2_description</a>


                                                     <ul>

                                                         @foreach (var item3 in Model.AllEquipments.Where(f => f.Sub3_number != null && f.Sub3_description != null && f.Type == item2.Type))
                                                         {
                                                             // var lastNode3 = Model.AllEquipments.Where(f => f.Sub3_number != null && f.Sub3_description != null && f.Type == item2.Type).Last().Sub3_number;
                                                             <li class="data">
                                                                 <a onclick="equipmentSelected(this); return false;" style="color:#7273a3"
                                                                    alt="Sub3_number-Sub3_description-@item3.Id">@item3.Sub3_number-@item3.Sub3_description</a>
                                                                 <ul>
                                                                 </ul>

                                                             </li>
                                                         }
                                                     </ul>
                                                 </li>

                                             }

                                         </ul>
                                     </li>


                                 }
                             </ul>
                         </li>
                     </ul>


                </div>

            </div>


            <script>
                $(function () {
                    $("li").each(function () {
                        if ($(this).attr("href") == window.location.pathname) {
                            $(this).addClass("active");
                        }
                    });
                });

                $(function () {
                    $(".makeEditable").click(function () {
                        $('input:text').removeAttr("readonly");
                    });
                });
            </script>

            <div class="row" style="float:right;width:76%">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">

                        <div class="body">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tab-nav-right" role="tablist" style="height:70px;list-style-type:disc;list-style-position:outside;list-style-image:none;">
                                <li role="presentation" class="k-item"><a href="#general" data-toggle="tab" id="generalTab" >GENERAL</a></li>
                                
                                <li role="presentation"><a href="#jobplan" data-toggle="tab" id="btn1" >JOB PLAN</a></li>
                                
                                <li role="presentation" ><a href="#spareparts" data-toggle="tab" id="btn2">SPARE PARTS</a></li>

                            </ul>

                            <!-- Tab panes -->
                            @* --------------------------------------------------------------------General Contents----------------------------------------- *@



                            <div>
                                <partial name="TabView" model="Model" />
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <script>
        $(document).ready(function () {
            $("#treeview").kendoTreeView();
        });
        $(function () {
            $(".makeEditable").click(function () {
                $('input:text').removeAttr("disabled");
            });
        });
    </script>

    <style>
        #treeview .k-sprite {
            background-image: url("../content/web/treeview/coloricons-sprite.png");
        }

        .rootfolder {
            background-position: 0 0;
        }

        .folder {
            background-position: 0 -16px;
        }

        .pdf {
            background-position: 0 -32px;
        }

        .html {
            background-position: 0 -48px;
        }

        .image {
            background-position: 0 -64px;
        }

        .hidden {
            display: none;
        }
    </style>
    <script>
        function search_sidebar() {
            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let x = document.getElementsByClassName('data');

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input)) {
                    x[i].style.display = "none";
                }
                else {
                    x[i].style.display = "list-item";
                }
            }
        }
    </script>


    <style>
        #searchbar {
            margin-left: 1%;
            border-radius: 3px;
        }
    </style>


    <script>
    

        function equipmentSelected(link) {
           // alert("Equipment Selected=="+link.text.split("-")[0].trim());


          
            loadJobPlan();
            loadSpareparts();

             // window.EquipmentCode = autogenerateNextEquipmentCode(lastNode);
           //alert("NextEquipmentCode"+   window.EquipmentCode)
            window.selectedEquipmentCode = link.text.split("-")[0].trim();
            window.selectedEquipmentName = link.text.split("-")[1].trim();

           
              window.sub_number = link.getAttribute("alt").split("-")[0].trim();
              window.EquipmentId= link.getAttribute("alt").split("-")[2].trim();
              //alert("ID=" + link.getAttribute("alt").split("-")[2].trim());
              // alert("Your Equipment Code" + window.sub_number);
                $("#SubNumber").val(sub_number);
        
       // $("#grid").data("kendoGrid").dataSource.read();
      //  $("#grid3").data("kendoGrid").dataSource.read();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEquipmentDetails")" + "?equipmentCode=" + window.selectedEquipmentCode,
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (datas) {
                var data = JSON.parse(datas);
                //alert("VesselName= " + data.Vessel);
                //alert("2nd"+posts.Vessel);
              //  $("#id17").val(data.Sub1_number);

                $("#eqptype_").val(data.Equipment_type);
                $("#dvalue").html(data.Equipment_type);

                $("#modelValue").html(data.Model);
                $("#makerValue").html(data.Maker);

                $("#id17").val(window.selectedEquipmentCode);
                $("#id18").val(data.Sub2_number);
                $("#id1").val(window.selectedEquipmentName);
                //$("#id1").val(window.selctedEquipmentName);
                $("#id2").val(data.Sub2_description);
                $("#id3").val(data.Sub3_number);
               // $("#id4").val(Sub5_description);
                $("#id5").val(data.Safety_level);
                $("#id6").val(data.Maker);
                $("#id7").val(data.Model);
                $("#id8").val(data.Drawing_no);
                $("#id9").val(data.Department);
                $("#id10").val(data.Department);
                $("#id11").val(data.Location);
                $("#id12").val(data.Equipment_Status);
                $("#id13").val(data.Type);
                $("#id14").val(data.Vessel);
              //  $("#id15").val(data.Type);


            }
        });
        }

        function jsFunction(link, lastNode) {

           // window.EquipmentCode = autogenerateNextEquipmentCode(lastNode);
           //alert("NextEquipmentCode"+   window.EquipmentCode)
            window.selectedEquipmentCode = link.text.split("-")[0].trim();
            window.selectedEquipmentName = link.text.split("-")[1].trim();

           
              window.sub_number = link.getAttribute("alt").split("-")[0].trim();
              window.EquipmentId= link.getAttribute("alt").split("-")[2].trim();
              //alert("ID=" + link.getAttribute("alt").split("-")[2].trim());
              // alert("Your Equipment Code" + window.sub_number);
                $("#SubNumber").val(sub_number);
        
       // $("#grid").data("kendoGrid").dataSource.read();
      //  $("#grid3").data("kendoGrid").dataSource.read();
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEquipmentDetails")" + "?equipmentCode=" + window.selectedEquipmentCode,
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (datas) {
                var data = JSON.parse(datas);
                //alert("VesselName= " + data.Vessel);
                //alert("2nd"+posts.Vessel);
              //  $("#id17").val(data.Sub1_number);

                $("#eqptype_").val(data.Equipment_type);
                $("#dvalue").html(data.Equipment_type);
                $("#id17").val(window.selectedEquipmentCode);
                $("#id18").val(data.Sub2_number);
                $("#id1").val(window.selectedEquipmentName);
                //$("#id1").val(window.selctedEquipmentName);
                $("#id2").val(data.Sub2_description);
                $("#id3").val(data.Sub3_number);
               // $("#id4").val(Sub5_description);
                $("#id5").val(data.Safety_level);
                $("#id6").val(data.Maker);
                $("#id7").val(data.Model);
                $("#id8").val(data.Drawing_no);
                $("#id9").val(data.Department);
                $("#id10").val(data.Department);
                $("#id11").val(data.Location);
                $("#id12").val(data.Equipment_Status);
                $("#id13").val(data.Type);
                $("#id14").val(data.Vessel);
              //  $("#id15").val(data.Type);


            }
        });

        }

         
        function autogenerateNextEquipmentCode(lastNode) {
            alert("lastNode="+lastNode)
            var nextEqpCode = lastNode.toString().split(".");
            var len = nextEqpCode.length;
            var lastDigit = parseFloat(lastNode.toString().split(".").reverse()[0]);
            nextLastDigit = lastDigit + 1;
            if (nextLastDigit >=lastDigit)
            {
                var NextEquipmentCode = lastNode.toString().slice(0, -2);
                if (nextLastDigit.toString().length == 1)
                {
                    var autogenerateEqpCode = NextEquipmentCode + "0." + nextLastDigit;
                    return autogenerateEqpCode;
                }
                else
                {
                   var autogenerateEqpCode = NextEquipmentCode+ nextLastDigit;
                    return autogenerateEqpCode;
                    
                }
              
            }

          
        }

    </script>
