@model ViewModel
@{
    ViewBag.Title = T("Maintenance.EquipmentMaster").Text;
    var vessel = @HttpContextAccessor.HttpContext.Session.GetString("VesselName");
    //var equipment = @HttpContextAccessor.HttpContext.Session.GetString("Sub1_number");
    var ecode = ViewBag.code;
    var ename = ViewBag.name;
    var joborder = ViewBag.joborder;
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Add Job Plan
            </h2>
           
           
        </div>
        @*<script type="text/javascript">
            function EnableDisableTextBox() {
                var chkYes = document.getElementById("chkYes");
                var txtPassportNumber = document.getElementById("n5");
                txtPassportNumber.disabled = chkYes.checked ? false : true;
                if (!txtPassportNumber.disabled) {
                    txtPassportNumber.focus();
                }
            }
        </script>*@

        <script>
            $(document).ready(function ()
            {
               
                $(".c2").hide();
                $(".c3").hide();
                $(".c5").hide();


                $("#cEnable").click(function ()
                {
                    $(".c1").show();
                    $(".c4").show();
                    $(".c2").hide();
                    $(".c3").hide();
                    $(".c5").hide();
                    $(".c6").show();
                     $(".c7").show();
                    $(".c8").show();
                    $(".c9").show();
                    $(".c10").show();
                });
                $("#rEnable").click(function ()
                {
                    $(".c1").hide();
                    $(".c2").show();
                    $(".c3").show();
                    $(".c4").hide();
                    $(".c5").show();
                    $(".c6").show();
                    $(".c7").hide();
                    $(".c8").hide();
                    $(".c9").hide();
                    $(".c10").hide();
                });
            });
        </script>
<style>


</style>
        <div class="body" style="max-height: 650px;overflow: auto;">
            <div class="x_title">
                <div class="actions">
                    <div class="btn-group btn-group-devided util-btn-margin-bottom-5">

                       <input name="group1" type="radio" checked="checked" id="cEnable" class="radio-col-black" onclick="EnableDisableTextBox()" />
                        <label for="chkYes">Calender Based</label>

                        <input name="group1" type="radio" id="rEnable" class="radio-col-black" onclick="EnableDisableTextBox()" />
                        <label for="chkNo">Running Hour Based</label>

                     </div>
                </div>
            </div>

            <form action="AddJobPlanDetails" method="post" name="contact_form" id="first_form">

                @*<input type="hidden" value="@vessel" name="Vessel" />*@
                @*<input type="hidden" value="@equipment" name="Equipment" />*@

                <div class="container-fluid" style="width: 80%;">
                    <div class="table-responsive">

                        <table class="table">


                            <tr>
                                <td><label for="EquipmentCode">Equipment Code</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @*<input type="text" name="EquipmentCode" value="@Model.SelectedEquipment.Sub1_number@Model.SelectedEquipment.Sub2_number@Model.SelectedEquipment.Sub3_number" class="form-control time24" placeholder="" />*@

                                            <input type="text" class="form-control valid" readonly value="@ecode" name="EquipmentCode" id="n1" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="EquipmentName">Equipment Name</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            @*<input type="text" name="EquipmentName" value="@Model.SelectedEquipment.Sub1_description@Model.SelectedEquipment.Sub2_description@Model.SelectedEquipment.Sub3_description" class="form-control time24" placeholder="" />*@

                                            <input type="text" class="form-control valid" name="EquipmentName" id="n2" readonly value="@ename" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="c4">
                                <td><label for="NEXT_DUE_DATE">Job Code</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="UniversalJobCode" id="n16" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Job Order">Job Order</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" readonly name="JobOrder" id="n16" value="@joborder" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="JobTitle">Job Title</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="JobTitle" id="n2" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*<tr>
            <td><label for="Vessel">Vessel</label></td>
            <td>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control valid" name="Vessel" id="n3" />
                    </div>
                </div>
            </td>
        </tr>*@
                            <tr>
                                <td><label for="JobDescription">Job Description</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="JobDescription" id="n3" />
                                            @*<textarea></textarea>*@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="Job_Type">Job Type</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="Job_Type" id="n4" />
                                        </div>
                                    </div>
                                </td>
                            </tr>



                            <tr class="c1" style="height:61px;">
                                <td><label for="CalFrequency">Frequency</label></td>
                                <td>
                                    <select class="form-control show-tick" name="CalFrequency" id="n6">
                                        <option value=""></option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </td>
                            </tr>

                            @*<tr class="c2">
            <td><label for="RunFrequency">Frequency</label></td>
            <td>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-controls valid" name="RunFrequency" id="n15" />
                    </div>
                </div>
            </td>
        </tr>*@

                            <tr class="c2">
                                <td><label for="RunFrequency">Frequency</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="RunFrequency" id="n16" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr class="c6">
                                <td><label for="FrequencyType">Frequency Type</label></td>
                                <td>
                                    <select class="form-control show-tick frequencytype" name="frequencytype" id="n5">
                                        <option value=""></option>
                                        <option class="c5">Hour</option>
                                        <option class="c10">Days</option>
                                        <option class="c9">Week</option>
                                        <option class="c8">Month</option>
                                        <option class="c7">Year</option>

                                    </select>
                                </td>
                            </tr>

                            @*<tr>
            <td><label for="Frequency">Frequency</label></td>
            <td>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control valid" name="Frequency" id="n4" />
                    </div>
                </div>
            </td>
        </tr>*@
                            @*<tr>
            <td><label for="FrequencyType">Frequency Type</label></td>
            <td>
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control valid" name="FrequencyType" id="n4" />
                    </div>
                </div>
            </td>
        </tr>*@


                            <tr>
                                <td><label for="PlanHorizon">Plan Horizon</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="PlanHorizon" id="n7" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><label for="Maintenance_Type">Maintenance Type</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="Maintenance_Type" id="n8" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="Department">Department</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="Department" id="n9" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="Priority">Priority</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="Priority" id="n10" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="Rank">Rank</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="Rank" id="n11" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="AssignedTo">Assigned To</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control valid" name="AssignedTo" id="n12" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="LAST_DONE_DATE">Last Done Date</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control valid" name="LAST_DONE_DATE" id="n13" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="c4">
                                <td><label for="NEXT_DUE_DATE">Next Due Date</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="date" class="form-control" name="NEXT_DUE_DATE" id="n14" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr class="c3">
                                <td><label for="Hrs">Next Due Hrs</label></td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="Hrs" id="n15" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                @Html.AntiForgeryToken()
                                <td><input type="submit" value="&#xf0f6;" class="fa fa-floppy-o aria-hidden=true" style="width:30px;position:relative;height:30px;background-color:#0E5679;color:white;" id="submit" /></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("form").on('submit', function (e) {
            $(".valid").each(function () {

                var input = $(this);
                if (input.val() == "") {
                    swal($(this).attr("name") + " Cannot be blank");
                    e.preventDefault();
                    return false;
                }
                
            });
        });
    });
</script>