@inject AdminAreaSettings adminAreaSettings
@{
    var VesselName = @HttpContextAccessor.HttpContext.Session.GetString("VesselName");
    var SessionVar = @HttpContextAccessor.HttpContext.Session.GetString("email");

    if (VesselName == null)
    {
        <script>

        $(window).load(function(){
            swal({

                title: 'Vessel Not Selected!',
                allowOutsideClick: false,
                text: 'Please select a Vessel',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function () {
                    window.location.href = '@Url.Action("VesselList","Vessel")';
                })

            });

        </script>
    }

    if (SessionVar == null)
    {
        <script>

            $(window).load(function ()
            {
            swal({

                title: 'TimeOut!',
                allowOutsideClick: false,
                text: '"Time Out! , Please Login"',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function ()
                {
                    window.location.href = '@Url.Action("LoginPage","Register")';
                })

            });

        </script>
    }

}
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.mobile.min.css" />

<script src="https://kendo.cdn.telerik.com/2020.1.114/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>

<div class="row" id="SearchSection">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-cubes"></i>

                    Due Jobs

                </div>
                <div class="actions btn-group btn-group-devided">

                    <vc:admin-widget widget-zone="vendor_list_buttons" additional-data="null" />

                    <button type="button" id="btnSelectRow" value="GetValue" class="btn btn-success" data-toggle="modal" data-target="#myModal">Postpone Job</button>

                    <button type="button" id="btnSelectRow1" value="GetValue" class="btn btn-success" data-toggle="modal" data-target="#myModal1">Complete Job</button>
                </div>

            </div>


            <div class="x_content">
                <div id="vessel-grid"></div>
            </div>
        </div>
    </div>
</div>

<div id="example">
    <antiforgery-token />
    <div id="grid"></div>

    <script>
            $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {

                    transport: {

                         read:
                             {
                                url: "@Html.Raw(Url.Action("ReadData2", "DueJob","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                        },
                        @*update:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","UnplannedJobs","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                            },
                            create:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","UnplannedJobs","Maintenance"))",
                                type: "POST",
                                dataType: "json"
                            }*@
                    },
                    batch: true,
                    schema:
                    {
                               data: "Data",
                               total: "Total",
                               errors: "Errors",
                        model:
                        {
                            id : "Id",
                            fields:
                            {
                                Id:
                                {
                                    validation: { required: true },
                                    editable: false,
                                },
                                    NEXT_DUE_DATE: { type: "date" },
                                    LAST_DONE_DATE: {type:"date"}
                            }
                        }
                    },
                    pageSize: @(adminAreaSettings.DefaultGridPageSize),
                },
                height: 580,
               
                sortable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                 scrollable:
                    {
                       endless: true
                    },
                 @*pageable: {
                    refresh: true,
                    pageSizes: [@(adminAreaSettings.GridPageSizes)]
                },*@
                selectable: true,
                allowCopy: true,
                columns: [

                    {
                            field: "EquipmentCode",
                            title: "EquipmentCode",
                            width: "160px"
                    },
                    {
                            field: "JobOrder",
                            title: "Job Order",
                            width: "160px"
                        },
                        {
                            field: "EquipmentName",
                            title: "Equipment Name",
                            width: "260px"
                        },
                        {
                            field: "JobTitle",
                            title: "Job Title",
                            width: "200px"
                        },
                        {
                            field: "CalFrequency",
                            title: "Calendar Frequency",
                            width: "190px"

                    }
                    , {
                            field: "FrequencyType",
                            title: "Frequency Type",
                            width: "160px"

                        },
                        {
                            field: "RunFrequency",
                            title: "Rhs Frequency",
                            width: "160px"

                        },

                        {
                            field: "PreviousReading",
                            title: "Previous Reading",
                            width: "180px"
                    },

                        {
                            field: "LastReading",
                            title: "Last Reading",
                            width: "160px"
                    },
                   {
                            field: "DueRhs",
                            title: "Due Rhs",
                            width: "120px"
                    },

                        {
                            field: "Department",
                            title: "Department",
                            width: "90px"
                        },
                        {
                            field: "LAST_DONE_DATE",
                            title: "Last Done",
                             format: "{0:dd-MM-yyyy}",
                            width: "150px"
                        },
                        {
                            field: "NEXT_DUE_DATE",
                            title: "Next Due",
                            format: "{0:dd-MM-yyyy}",
                            width: "150px",
                    },
                {
                            field: " AssignedTo",
                            title: " Assigned To",
                            width: "180px"

                        },],
                    editable: "inline"

            });
        });

         function customBoolEditor(container, options) {
                        var guid = kendo.guid();
                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
                    }

                    function additionalData() {
                        var data = {};
                        addAntiForgeryToken(data);
                        return data;
        }
    </script>
</div>


<!-- Modal for Postpone -->

<script>

    $("#btnSelectRow").click(function () {

        var grid = $("#grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {

            window.location.reload();
            alert("Please Select a Job");
        }
        else {
            var Bid = selectedItem.Id;
            var equipmentname = selectedItem.EquipmentName;
            var equipmentCode = selectedItem.EquipmentCode;
            var JobOrder = selectedItem.JobOrder;

            var remark = selectedItem.Remark;
            var jobTitle = selectedItem.JobTitle;
            var CalFrequency = selectedItem.CalFrequency;
            var RunFrequency = selectedItem.RunFrequency;
            var department = selectedItem.Department;
            var lastDoneDate = selectedItem.LAST_DONE_DATE;
            var nextDueDate = selectedItem.NEXT_DUE_DATE;
            var vessel = selectedItem.Vessel;

            document.getElementById("Bid").value = Bid;
            document.getElementById("Ename").value = equipmentname;
            document.getElementById("ECode").value = equipmentCode;
            document.getElementById("jobTitle").value = jobTitle;
            document.getElementById("CalFrequency").value = CalFrequency;
            document.getElementById("RunFrequency").value = RunFrequency;
            document.getElementById("department2").value = department;
            document.getElementById("lastDoneDate").value = lastDoneDate;
            document.getElementById("nextDueDate").value = nextDueDate;
            document.getElementById("JobOrder").value = JobOrder;
            document.getElementById("vessel").value = vessel;
            document.getElementById("remark").value = remark;

        }

    });


    $("#btnSelectRow1").click(function () {

        var grid = $("#grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem == null) {

            window.location.reload();
            alert("Please Select a Job");
        }
        else {
            var Bid = selectedItem.Id;
            var equipmentname = selectedItem.EquipmentName;
            var equipmentCode = selectedItem.EquipmentCode;
           // var Job = selectedItem.JobOrder;
           //  var JobOrder = selectedItem.JobOrder;
            var jobTitle = selectedItem.JobTitle;
            var frequency = selectedItem.Frequency;
            var department = selectedItem.Department;
            var lastDoneDate = selectedItem.LAST_DONE_DATE;
            var nextDueDate = selectedItem.NEXT_DUE_DATE;
            var vessel = selectedItem.Vessel;

            document.getElementById("Bid1").value = Bid;
            document.getElementById("Ename1").value = equipmentname;
            document.getElementById("ECode1").value = equipmentCode;
            document.getElementById("jobTitle1").value = jobTitle;
            document.getElementById("frequency1").value = frequency;
            document.getElementById("department1").value = department;
            document.getElementById("lastDoneDate1").value = lastDoneDate;
            document.getElementById("nextDueDate1").value = nextDueDate;
         //   document.getElementById("Job").value = Job;
            document.getElementById("vessel").value = vessel;
          //  document.getElementById("JobOrder1").value = JobOrder;


        }

    });
</script>




<link rel="stylesheet" href="~/Maintenance/modal/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>



<div class="modal fade  come-from-modal right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Postpone Job</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@

            </div>
            <form action="PostponeJob" method="post">
                <div class="modal-body" style="left:5%">
                    <div class="row clearfix">

                        <div class="col-md-12">
                            <b>Job Order</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="Bid" name="Bid" readonly hidden>
                                    <input type="text" id="JobOrder" readonly class="form-control time24" hidden>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Equipment Code</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="ECode" name="ECode" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>

                        <br /><br />
                        <div class="col-md-12">
                            <b>Equipment Name</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="Ename" name="Ename" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />


                        <div class="col-md-12">
                            <b>Title</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="jobTitle" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Frequency</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="CalFrequency"  readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />

                       
                        <div class="col-md-12">
                            <b>Postpone To</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="date" id="nextDueDate" name="dt" value="" class="form-control time24">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Remark</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">

                                    <textarea rows="5" cols="100" id="remark" name="remark" class="form-control time24"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    @Html.AntiForgeryToken()
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <input type="submit" class="btn btn-primary" value="Postpone Job" id="submit" />

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>



<!-- Modal for Complete -->
@* ---------------------------------------------complete modal-------------------------------------------------------------- *@

<link rel="stylesheet" href="~/Maintenance/modal/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>



<div class="modal fade  come-from-modal right" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Complete Job</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@

            </div>
            <form action="CompleteJob" method="post">
                <div class="modal-body" style="left:5%">
                    <div class="row clearfix">

                        <div class="col-md-12">
                            <b>Job Order</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="Bid1" name="Bid1" readonly hidden>
                                    <input type="text" id="JobOrder1" name="JobOrder1" readonly class="form-control time24" hidden>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Equipment Code</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="ECode1" name="ECode1" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>

                        <br /><br />
                        <div class="col-md-12">
                            <b>Equipment Name</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="Ename1" name="Ename1" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />


                        <div class="col-md-12">
                            <b>Title</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="jobTitle1" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Frequency</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="frequency1" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>
                        <br /><br />

                        <div class="col-md-12">
                            <b>Department</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="department1" readonly value="" class="form-control time24" placeholder="">
                                </div>
                            </div>
                        </div>

                        <br /><br />

                        <div class="col-md-12">
                            <b>Completed On</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="date" id="nextDueDate" name="dt" value="" class="form-control time24">
                                </div>
                            </div>
                        </div>
                        <br /><br />

                        <div class="col-md-12" hidden>
                            <b>Vessel</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">
                                    <input type="text" id="vessel" name="vessel" value="" class="form-control time24">
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="col-md-12">
                            <b>Remark</b>
                            <div class="input-group" style="width:90%">

                                <div class="form-line">

                                    <textarea rows="5" cols="100" id="remark" name="remark" class="form-control time24"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    @Html.AntiForgeryToken()
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        <input type="submit" class="btn btn-primary" value="Complete Job" id="submit" />

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
