@{
    var VesselName = @HttpContextAccessor.HttpContext.Session.GetString("VesselName");
    var SessionVar = @HttpContextAccessor.HttpContext.Session.GetString("email");

    if (VesselName == null)
    {
        <script>

        $(window).load(function(){
            swal({

                title: 'Vessel Not Selected!',
                allowOutsideClick: false,
                text: 'Please select a Vessel',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function () {
                    window.location.href = '@Url.Action("VesselList","Vessel")';
                })

            });

        </script>
    }

    if (SessionVar == null)
    {
        <script>

            $(window).load(function ()
            {
            swal({

                title: 'TimeOut!',
                allowOutsideClick: false,
                text: '"Time Out! , Please Login"',
                background: 'white',
                confirmButtonText: 'OK',
                confirmButtonColor: '#48b4e0',
            })
                .then(function ()
                {
                    window.location.href = '@Url.Action("LoginPage","Register")';
                })

            });

        </script>
    }

}
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.uniform.mobile.min.css" />

<script src="https://kendo.cdn.telerik.com/2020.1.114/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.114/js/kendo.all.min.js"></script>

<div class="row" id="SearchSection">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-cubes"></i>

                    Due Jobs

                </div>
                <div class="actions btn-group btn-group-devided">

                    <vc:admin-widget widget-zone="vendor_list_buttons" additional-data="null" />

                    @*<button type="button" id="btnSelectRow" value="GetValue" class="btn btn-success" data-toggle="modal" data-target="#myModal">Postpone Job</button>

                    <button type="button" id="btnSelectRow1" value="GetValue" class="btn btn-success" data-toggle="modal" data-target="#myModal1">Complete Job</button>*@
                </div>

            </div>


            <div class="x_content">
                <div id="vessel-grid"></div>
            </div>
        </div>
    </div>
</div>

<div id="example">
    <antiforgery-token />
    <div id="grid"></div>

    <script>
            $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {

                    transport: {

                         read:
                             {
                                url: "@Html.Raw(Url.Action("ReadData1", "DueJob","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                        },
                        @*update:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","UnplannedJobs","Maintenance"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                            },
                            create:
                            {
                                url: "@Html.Raw(Url.Action("EditItem","UnplannedJobs","Maintenance"))",
                                type: "POST",
                                dataType: "json"
                            }*@
                    },
                    batch: true,
                    schema:
                    {
                               data: "Data",
                               total: "Total",
                               errors: "Errors",
                        model:
                        {
                            id : "Id",
                            fields:
                            {
                                Id:
                                {
                                    validation: { required: true },
                                    editable: false,
                                },
                                    NEXT_DUE_DATE: { type: "date" },
                                    LAST_DONE_DATE: {type:"date"}
                            }
                        }
                    },
                    pageSize: 30
                },
                height: 580,
                sortable: true,
                reorderable: true,
                groupable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                 scrollable:
                    {
                       endless: true
                    },
                pageable:
                    {
                       numeric: false,
                       previousNext: false
                    },
                selectable: true,
                allowCopy: true,
                columns: [
                    {
                            field: "JobOrder",
                            title: "Job Order",
                            width: "120px"
                        },

                    {
                            field: "EquipmentCode",
                            title: "EquipmentCode",
                            width: "120px"
                        },
                        {
                            field: "EquipmentName",
                            title: "Equipment Name",
                            width: "200px"
                        },
                        {
                            field: "JobTitle",
                            title: "Job Title",
                            width: "150px"
                        },
                        {
                            field: "CalFrequency",
                            title: "Frequency",
                            width: "90px"

                        },
                        {
                            field: "Department",
                            title: "Department",
                            width: "90px"
                        },
                        {
                            field: "LAST_DONE_DATE",
                            title: "Last Done",
                             format: "{0:dd-MM-yyyy}",
                            width: "150px"
                        },
                        {
                            field: "NEXT_DUE_DATE",
                            title: "Next Due",
                            format: "{0:dd-MM-yyyy}",
                            width: "150px",
                    },
                {
                            field: "Status",
                            title: "Status",
                            width: "150px"
                        },],
                    editable: "inline"

            });
        });

         function customBoolEditor(container, options) {
                        var guid = kendo.guid();
                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                        $('<label class="k-checkbox-label" for="' + guid + '">​</label>').appendTo(container);
                    }

                    function additionalData() {
                        var data = {};
                        addAntiForgeryToken(data);
                        return data;
        }
    </script>
</div>


<!-- Modal for Postpone -->

