
@model IEnumerable<EquipmentModel>
@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Areas/Maintenance_Admin/Views/Shared/MaintenanceMasterLayout.cshtml";
    var VesselName = @HttpContextAccessor.HttpContext.Session.GetString("VesselName");
}

@*@Html.BeginForm("Edit", "Vessel", FormMethod.Get, new { id = Model.VesselID })*@
<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <button class="btn btn-success" name="save"><i class="fa fa-check"></i> @*@T("Admin.Common.Save")*@ General</button>
                    <button class="btn btn-success" name="save"><i class="fa fa-check"></i> @*@T("Admin.Common.Save")*@ Job Plan</button>
                    <button class="btn btn-success" name="save"><i class="fa fa-check"></i> @*@T("Admin.Common.Save")*@ Spare Part</button>
                    @*<i class="fa fa-cube"></i>
                        @T("Admin.Catalog.Products.EditProductDetails") - @Model.NameSabi
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Catalog.Products.BackToList").Text, "List")</small>*@
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided util-btn-margin-bottom-5">
                        @*<button type="button" onclick="javascript:OpenWindow('@Url.RouteUrl("Product", new {SeName = Model.SeName})', 800, 600, true); return false;" class="btn purple">
                                <i class="fa fa-eye"></i>
                                @T("Admin.Common.Preview")
                            </button>*@
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        @*<button type="button" name="copyproduct" class="btn blue" id="copyproduct">
                                <i class="fa fa-clone"></i>
                                @T("Admin.Catalog.Products.Copy")
                            </button>*@
                        <span id="product-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                        @*<vc:admin-widget widget-zone="product_details_buttons" additional-data="Model" />*@
                    </div>
                </div>
            </div>
            <div class="x_content form">
                <partial name="_CreateOrUpdate" model="Model" />
            </div>
        </div>
    </div>
</div>



