@model ViewModel
@{
    ViewData["Title"] = "Equipment Master";
    //Layout = "~/Areas/Maintenance_Admin/Views/Shared/MaintenanceMasterLayout.cshtml";
    var VesselName = @HttpContextAccessor.HttpContext.Session.GetString("VesselName");

}

@*@Html.BeginForm("Edit", "Vessel", FormMethod.Get, new { id = Model.VesselID })*@




<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">

                    <h5 style="color:#337ab7">
                        <b>
                            @VesselName.ToUpper() /
                            @if (Model.SelectedEquipment != null)
                            {
                                @Model.SelectedEquipment.Sub1_description@Model.SelectedEquipment.Sub2_description@Model.SelectedEquipment.Sub3_description
                            }
                        </b>
                    </h5>



                    @*<i class="fa fa-cube"></i>
        @T("Admin.Catalog.Products.EditProductDetails") - @Model.NameSabi
        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Catalog.Products.BackToList").Text, "List")</small>*@
                </div>
                @*<div class="actions">
                        <div class="btn-group btn-group-devided util-btn-margin-bottom-5">


                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>

                        </div>
                    </div>*@
            </div>

            <div class="x_content form" style="float:left">
                <partial name="_CreateOrUpdate" model="@Model" />
            </div>



        </div>
    </div>
</div>
@*<partial name="_General" />*@



